@import '/app/page.module.scss';

.services {
  width: 100%;
  height: auto;

  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 40px;
    width: 100%;
  }
}

@media #{$media-xl} {
  .services {
    &__cards {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(6, auto);
    }
  }
}

@media #{$media-sm} {
  .services {
    &__card {
      height: auto;
      padding: 20px;

      &_image[id='service_card_image_desktop'] {
        display: none;
      }

      &_image[id='service_card_image_mobile'] {
        display: block;
        margin: 20px 0;
      }
    }

    &__banner {
      margin-top: 60px;
    }
  }
}