@import '/app/page.module.scss';

.caseStudies {
  width: 100%;

  &__cases {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 50px 0;
    background-color: $primary-color-black;
    border-radius: 45px;
  }

  &__case {
    display: flex;
    flex-direction: column;
    padding: 0 50px;

    &_description {
      flex: 1;
      height: 100%;
      margin: 0;
      font-size: $primary-font-size-2xs;
      line-height: 23px;
      color: #FFF;
    }

    &_button {
      display: flex;
      align-items: center;
      width: fit-content;
      gap: 15px;
      margin-top: 20px;
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
  
      span {
        font-size: $primary-font-size-xs;
        line-height: 28px;
        color: $primary-color-green;
      }

      &__icon {
        position: relative;
        width: 25px;
        height: 25px;
      }
    }
  }

  &__case:not(:last-child) {
    border-right: 1px solid #FFF;
  }
}

@media #{$media-lg} {
  .caseStudies {
    &__cases {
      padding: 50px;
      flex-direction: column;
    }

    &__case {
      padding: 0;
    }

    &__case:not(:last-child) {
      padding-bottom: 30px;
      margin-bottom: 30px;
      border-right: 0;
      border-bottom: 1px solid #FFF;
    }
  }
}

@media #{$media-sm} {
  .caseStudies {
    &__cases {
      padding: 40px;
    }
  }
}